<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<% if (userLogueado != null) { %>
	<%- include("./partials/headerLogueado") %>
	<% } else { %>
	<%- include("./partials/header") %>
	<% } %>
	<!-- /Header -->
	<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">

			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="row">
		<% for( let i = 0; i < 4; i++ ) { %>
			<% let info = productos[i].dataValues %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/products/detalle/<%= info.id %>">
						<figure class="product-box_image">
							<img src="<%= info.imagen %>" alt="<%= info.producto %>">
						</figure>
						<article class="product-box_data">
							<h2 class="products-title"><%= info.producto %></h2>
							<p><%= info.descripcionProd %></p>
							<p>Comentarios: <%= info.commentsProd.length %></p>
						</article>
					</a>
				</section>
			</div>
		<% } %>	

		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let x = 4; x < 8; x++ ) { %>
				<% let info2 = productos[x].dataValues %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="http://localhost:3000/products/detalle/<%= info2.id %>">
							<figure class="product-box_image">
								<img src="<%= info2.imagen %>" alt="<%= info2.producto %>">
							</figure>
							<article class="product-box_data">
								<h2 class="products-title"><%= info2.producto %></h2>
								<p><%= info2.descripcionProd %></p>
								<p>Comentarios: <%= info2.commentsProd.length %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>	
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
<%- include("./partials/footer") %>
	<!-- /footer -->
</body>	
</html>