<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<section class="formulario">
		<h1 class="titleForm">Modifique sus datos</h1>
		<form action="http://localhost:3000/profile" method="get">
			<input class="controles" type="email" name="email" placeholder="<%= data.email %>"> 
			<input class="controles" type="text" name="name" placeholder="<%= data.usuario %>"> 
			<input class="controles" ype="password" name="pass" placeholder="*******" > 
			<input class="controles" type="number" name="DNI" placeholder="<%= data.nro_documento %>">
			<input class="controles" type="date" name="fecha" > 
			<input class = 'botonFormulario' type="submit" value="Modificar">
		</form>
	</section>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>